.navbar{
   background-color:

}

.jumbotron {
   background-color: orange;
   color: white;

}

.thumbnail{        
  float: right;
  
  padding-bottom: 1em;
  position: relative;
  display: inline;
  clear: left;


}

.pizzat li {
  clear: both;
  height: 115px;
  padding-top: 15px;
  background-color: #f6f6f6;
}



.pizzat {
	list-style:none;
	
}

.container {
	
	background-color: #f6f6f6;
}



