<div class="jumbotron text-center">
        <h1>Tietoja</h1>

        <p>{{ message }}</p>
</div>

<div class="container">
	<h2>Tämä sivusto on tehty näytteenä nimenomaan teille!</h2>
	<h3>Sivusto käyttää Angular JS:ää, CSS:ää sekä pyrkii takaamaan responsiivisuuden Bootstrapilla. Versionhallintaan on käytetty Bitbucketia. </h3>
</div>
