<!-- contact.html -->
    <div class="jumbotron text-center">
        <h1>Ota yhteyttä</h1>

        <p>{{ message }}</p>
    </div>

<div class="container">
	<h1>Nimi: Pekka Niiranen</h1>
	<h1>Sähköposti: pniirane@student.oulu.fi</h1>
	<h1>Puh: 0442830536</h1>
	<h1></h1>
</div>
