<!-- home.html -->
<div class="jumbotron text-center">
    <h1>Pitsasivusto!</h1>

    <p>{{ message }}</p>
</div>

<div ng-controller="pizzaListController">

<div class="col-md-2">
	Hae nimen, täytteen tai tyypin perusteella: <input ng-model="query">
        järjestys:
        <select ng-model="orderProp">
          <option value="name">Aakkosjärjestys</option>
        </select>
</div>


	<div class="col-xs-12 col-sm-8 col-md-8">
	<ul class="pizzat">

          <li ng-repeat="pizza in pizzat | filter:query | orderBy:orderProp" >
	    	<div class="col-xs-4 col-sm-2 col-md-2">
            		<a class="img-thumbnail"><img ng-src="{{pizza.imageUrl}}" width="95%" height="95%%" alt="{{pizza.name}}"></a>
		</div>
		<div class="col-xs-8 col-sm-6 col-md-6">
            		Nimi: <a href="#/pizza/{{pizza.id}}">{{pizza.name}}</a>
			<p>Tyyppi: {{pizza.type}}</p>
            		<p>Täytteet: {{pizza.stuffing}}</p>
			<p>Käyttötarkoitus: {{pizza.use}}</p>
		</div>
		
	
	    
          </li>

        </ul>


</div>
