<div class="jumbotron text-center">
        <h1>Pitsat</h1>

        
    </div>

<div ng-controller="pizzaListController">
<div class="col-md-10">

	<ul class="pizzat">
	   <li ng-repeat="pizza in pizzat | filter:query">
		<p>{{pizza.name}}<p>
		
	   </li>
	</ul>
</div>
</div>
